{% extends 'base.html' %}
{% load static %}

{%block header%}

{%endblock%}
{%block sesion%} 

{%endblock%}

{%block tituloIndex%}
<header>
    <h1>Crear cuenta</h1>
</header>
{%endblock%}
{%block ParrafoTitulo%}
<form id = "formLogin" method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
        <div class="card-footer">
            <a href="{% url 'index' %}" class="btn btn-danger">CANCELAR</a>
            <button type="submit">Registrar</button>
        </div>
        
</form>
{%endblock%}



{%block menu%} {%endblock%}
{%block imagen1%}<img src="{% static 'images/CrearUsuarui.png' %}" alt="" />{%endblock%}
{%block sec1%}{%endblock%}
{%block sec2%}
{%endblock%}