{% extends 'generic.html' %}
{% load static %}

{% csrf_token %}
{%block titulo %}Temas {{object.IdArea.nombreArea}} {%endblock%}
{%block grande%} {{object.IdArea.nombreArea}} {%endblock%}

{%block contenido%}


<hr class="major" />
<article>
    <h3>{{object.temaNombre}}</h3>
    <p>{{object.informacion}}</p>
    <li><img src="{{ object.imagen }}"></li>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="720" height="405" src="{{object.videolink}}" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    

    <ul class="actions">
        <input type="button" value="Página anterior" onClick="history.go(-1);">
    </ul>
</div>


{%endblock%}



{%block menu%}

{%endblock%}