{% extends 'generic.html' %}
{% load static %}

{%block titulo %}Temas Algebra{%endblock%}

{%block tgrande %}<header id="header">
    <a href="{% url 'material' %}" class="logo"><strong>Regresar </strong></a>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
    </ul>
</header>{%endblock%}
{% csrf_token %}
{%block grande%} {{object.IdArea.nombreArea}} {%endblock%}

{%block contenido%}


<hr class="major" />
<article>
    <h3>{{object.temaNombre}}</h3>
    <p>{{object.informacion}}</p>
    <p>{{datos.count}}</p>
    

    <ul class="actions">
        <input type="button" value="Página anterior" onClick="history.go(-1);">
    </ul>
</div>


{%endblock%}



{%block menu%}

{%endblock%}