{% extends 'base.html' %}
{% load static%}

{%block titulo %}
<title>Entrenamiento</title>
{% endblock %}

{%block header%}
<div id="menus">
  <nav><ul>
    <li><a href="{% url 'home'%}">Inicio</a></li>
    <li><a href="{% url 'entrenamiento' %}">Entrenamiento</a></li>
    <li><a href="{% url 'resultados' %}">Resultado</a></li>
    <li><a href="{% url 'material' %}">Material Didactico</a></li>
    <li><a href="{% url 'index' %}">Cerrar Sesión</a></li>
  </ul></nav>
  </div>
{%endblock%}

{%block banner%}
{%endblock%}
{%block sec1%}
{%endblock%}

{%block sec2%}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseas comenzar con el entrenamiento?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-confirm">
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" id = "start-button" class="btn btn-success">Si</button>
        </div>
      </div>
    </div>
  </div>
<!--No tocar nada de esto-->
<section>
  <header class="major">
    <h2>Entrenamiento por examenes</h2>
  </header>


  <div class="posts">
        <article>
            <h2>Aritmética</h2>
            <ul class="actions">
               <!--  <button type ="button large" class="btn btn-link modal-button" data-pk="../preguntas/{{i.pk}}" data-quiz="{{i.nombreArea}}" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"></button> -->
                    <button><a href=" https://docs.google.com/forms/d/e/1FAIpQLSezzTn49GAwFV6UFk0K7hw0fSDeH7lsYtWMhss_RXu-907UbQ/viewform?usp=sf_link" target="_blank"> Ingresar</a></button>
                  
            </ul>
          <ul>
            <h2>Algebra</h2>
            <button><a href=" https://docs.google.com/forms/d/e/1FAIpQLSdDVt39ICATG6xLFiL6zPkkRtXKTXvUtAIrx0iuj3nU-oabbQ/viewform?usp=sf_link" target="_blank"> Ingresar</a></button>
          </ul>
          <ul>
            <h2>Trigonometría</h2>                   
                    <button><a href=" https://docs.google.com/forms/d/e/1FAIpQLSdC1ic3l2u3x5TE1kPklOXn_PqvCKJYadS7kSHkyJ5iv0XW9w/viewform?usp=sf_link" target="_blank"> Ingresar</a></button>
                  </ul>

        </article>
  </div>

</section>

{%endblock%}
{%block menu%}
{%endblock%}
{%block scripts%}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}" defer></script>
{%endblock%}