{% extends 'base.html' %}
{% load static%}

{%block titulo %}
<title>Entrenamiento</title>
{% endblock %}

{%block header%}
<div id="menus">
  <nav><ul>
    <li><a href="{% url 'home'%}">Inicio</a></li>
    <li><a href="{% url 'entrenamiento' %}">Entrenamiento</a></li>
    <li><a href="{% url 'resultados' %}">Resultado</a></li>
    <li><a href="{% url 'material' %}">Material Didactico</a></li>
    <li><a href="{% url 'index' %}">Cerrar Sesión</a></li>
  </ul></nav>
  </div>
{%endblock%}

{%block banner%}
{%endblock%}
{%block sec1%}
{%endblock%}

{%block sec2%}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseas comenzar con el entrenamiento?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-confirm">
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" id = "start-button" class="btn btn-success">Si</button>
        </div>
      </div>
    </div>
  </div>
<!--No tocar nada de esto-->
<section>
  <header class="major">
    <h2>Entrenamiento por examenes</h2>
  </header>

{%for i in object_list%}
<h1>{{i.nombreArea}}</h1>
  <div class="posts">
    
        <article>
            <ul class="actions">
              <p>{{i.informacion}}</p>
                <button type ="button large" class="btn btn-link modal-button" data-pk="../preguntas/{{i.pk}}" data-quiz="{{i.nombreArea}}" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Ingresar</button>
                  
            </ul>
        </article>
  </div>
  {%endfor%}

</section>

{%endblock%}
{%block menu%}
{%endblock%}
{%block scripts%}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}" defer></script>
{%endblock%}