{% extends 'base.html' %}
{% load static %}

{%block header%}

{%endblock%}
{%block sesion%} 
<div id="sesion">
    <a href="#" >
    <div id="inicio">
        <h3>Iniciar Sesion</h3>
    </div>
</a>
</div>
{%endblock%}

{%block menu%} {%endblock%}
{%block imagen1%}<img src="{% static 'images/Optimize-Study-Time-1.png' %}" alt="" />{%endblock%}
{%block sec1%}{%endblock%}
{%block sec2%}
<section>
    <header class="major">
        <h2>Ipsum sed dolor</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
            <h3>Interdum aenean</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
            <h3>Nulla amet dolore</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
            <h3>Tempus ullamcorper</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        
    </div>
</section>

</div>
</div>
{%endblock%}
