{% extends 'base.html' %}
{% load static %}

{%block header%}

{%endblock%}
{%block sesion%} 
<div id="sesion">
    <a href="#" >
    <div id="inicio">
        <h3>Iniciar Sesion</h3>
    </div>
</a>
</div>
{%endblock%}

{%block menu%} {%endblock%}
{%block imagen1%}<img src="{% static 'images/Optimize-Study-Time-1.png' %}" alt="" />{%endblock%}
{%block sec1%}{%endblock%}
{%block sec2%}
<section>
    <header class="major">
        <h2>Ipsum sed dolor</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image"><img src="{% static 'images/pexels-vlada-karpovich-4050315.jpg' %}" alt=""  />
                Foto de Vlada Karpovich en Pexels
                </a>
            <h3>Infórmate</h3>
            <p>Los distintos temás con los que contamos te ayduarán a mejorar tu desenpeño en el area de la Matemática
                puedes ingresar y enteder como funciona esta maravillosa herramienta.
            </p>
            <ul class="actions">
                <li><a href="#" class="button">Ingresar</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/pexels-cottonbro-3585089.jpg' %}" alt="" height=50% />
                Foto de cottonbro en Pexels</a>
            <h3>Regístrate</h3>
            <p>Para que puedas ver tus avances y entrenarte, tiene que registrarte y así tus maestros podran ver tu desempeño
                y podran apoyarte en los temas que no comprendas al 100%
            </p>
            <ul class="actions">
                <li><a href="#" class="button">Ingresar</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/pexels-canva-studio-3194524.jpg' %}" alt="" />
                Foto de Canva Studio en Pexels
                </a>
            <h3>Entrénate</h3>
            <p>Utiliza yá! la herramienta y mejora tu desempeño en el area de la Mátematica</p>
            <ul class="actions">
                <li><a href="#" class="button">Ingresar</a></li>
            </ul>
        </article>
        
    </div>
</section>

</div>
</div>
{%endblock%}
