{% extends 'generic.html' %}
{% load static %}

{%block titulo %}Material Didactico{%endblock%}



{%block grande%}Material Didactico{%endblock%}

{%block contenido%}


<section>
									<header class="major">
										<h2>Areas</h2>
									</header>
									<div class="features">
										<article>
                                            <span><a href="{%url 'mari'%}" class="image"><img src="{% static 'images/aritmetica.png' %}" alt=""  width="100" height="100"/></a></span>
											<div class="content">
                                                <h3>Aritmética</h3>
												<p><b>Click en ver para ir el material didactico de aritmética</b></p>
            <ul class="actions">
                <li><a href="{%url 'mari'%}" class="button">Ver más</a></li>
            </div>
										</article>
										<article>
<span><a href="{%url 'malgebra'%}" class="image"><img src="{% static 'images/algebra.png' %}" alt="" width="100" height="100" /></a></span>
											<div class="content">
                                                <h3>Algebra</h3>
												<p><b>Click en ver para ir el material didactico de algebra</b></p>
            <ul class="actions">
                <li><a href="{%url 'malgebra'%}" class="button">Ver más</a></li>
            </div>
										</article>
										<article>
<span><a href="{%url 'mtrigo'%}" class="image"><img src="{% static 'images/geometria.png' %}" alt="" width="100" height="100" /></a></span>
											<div class="content">
                                                <h3>Trigonometria</h3>
												<p><b>Click en ver para ir el material didactico de Trigonometria</b></p>
            <ul class="actions">
                <li><a href="{%url 'mtrigo'%}" class="button">Ver más</a></li>
            </div>
										</article>
										<article>
<span><a href="{%url 'mconjuntos'%}" class="image"><img src="{% static 'images/conjuntos.png' %}" alt="" width="100" height="100" /></a></span>
											<div class="content">
                                                <h3>Conjuntos</h3>
												<p><b>Click en ver para ir el material didactico de conjuntos</b></p>
            <ul class="actions">
                <li><a href="{%url 'mconjuntos'%}" class="button">Ver más</a></li>
            </div>
										</article>
									</div>
</section>
{%endblock%}
{%block menu%}

{%endblock%}
