{% extends 'base.html' %}
{% load static %}

{%block header%}

{%endblock%}
{%block sesion%} 
{%endblock%}

{%block banner%}{%endblock%}


{%block tituloIndex%}

{%endblock%}
{%block ParrafoTitulo%}

{%endblock%}
{%block menu%} {%endblock%}
{%block imagen1%}{%endblock%}
{%block sec1%}



<div><h1>{{ obj.nombreArea}}</h1></div>


<form id="quiz-form" class="mt-3 mb-3">
    {% csrf_token%}
    <dir id="quiz-box"> </dir>
    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
</form>

<!-- <form id ="quiz-form" class="mt-3 mb-3">
    
    <div id="quiz-box"></div>
    <button type = "submit">Siguiente</button>
</form> -->

{%endblock%}
{%block sec2%}

{%endblock%}
{%block scripts%}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/preguntas.js' %}" defer></script>
{%endblock%}