{% extends 'base.html' %}

{% load static%}

{%block titulo %}           
<title>Resultados</title>
{% endblock %}

{%block header%}
<div id="menus">
  <nav><ul>
    <li><a href="{% url 'home'%}">Inicio</a></li>
    <li><a href="{% url 'entrenamiento' %}">Entrenamiento</a></li>
    <li><a href="{% url 'resultados' %}">Resultado</a></li>
    <li><a href="{% url 'material' %}">Material Didactico</a></li>
    <li><a href="{% url 'index' %}">Cerrar Sesión</a></li>
  </ul></nav>
  </div>
{%endblock%}


{%block banner%}
<section>
  <header class="major">
    <h2>Resultados</h2>
  </header>
  <div class="features">
    <article>
                            <span><a href="{% url 'resari' %}" class="image"><img src="{% static 'images/aritmetica.png' %}" alt=""  width="100" height="100"/></a></span>
      <div class="content">
                                <h3>Aritmética</h3>
        <p><b>Click en ver para ver sus resultados en aritmética</b></p>
<ul class="actions">
<li><a href="{% url 'resari' %}" class="button">Ver más</a></li>
</div>
    </article>
    <article>
<span><a href="{% url 'resal'  %}" class="image"><img src="{% static 'images/algebra.png' %}" alt="" width="100" height="100" /></a></span>
      <div class="content">
                                <h3>Algebra</h3>
        <p><b>Click en ver sus resultados en algebra</b></p>
<ul class="actions">
<li><a href="{% url 'resal'  %}" class="button">Ver más</a></li>
</div>
    </article>
    <article>
<span><a href="{% url 'restri' %}" class="image"><img src="{% static 'images/geometria.png' %}" alt="" width="100" height="100" /></a></span>
      <div class="content">
                                <h3>Trigonometria</h3>
        <p><b>Click en ver sus resultados en Trigonometria</b></p>
<ul class="actions">
<li><a href="{% url 'restri' %}" class="button">Ver más</a></li>
</div>
    </article>
    <article>
<span><a href="{% url 'rescon' %}" class="image"><img src="{% static 'images/conjuntos.png' %}" alt="" width="100" height="100" /></a></span>
      <div class="content">
                                <h3>Conjuntos</h3>
        <p><b>Click en ver para ver sus resultados en conjuntos</b></p>
<ul class="actions">
<li><a href="{% url 'rescon' %}" class="button">Ver más</a></li>
</div>
    </article>
  </div>
</section>
{%endblock%}
{%block sec1%}
{%endblock%}
{%block sec2%}
{%endblock%}

{%block menu%}
{%endblock%}