{% extends 'base.html' %}

{% load static%}

{%block titulo %}           
<title>Resultados</title>
{% endblock %}

{%block header%}
<a href="{% url 'resultados' %}" class="logo"><strong>Bienvenido</strong> A la sección de resultados</a>
									
									<ul class="icons">
										
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>

{%endblock%}

{%block banner%}


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>No.</th><th>Fecha.</th><th>Tipo de Entrenamiento.</th><th>Porcentaje de Aciertos.</th><th>PDF.</th>
            </tr>
        </thead>
        <tr>
      
          <td>Celda 1</td>     
          <td>Celda 2</td>      
          <td>Celda 3</td>   
          <td>Celda 4</td>   
          <td>Celda 5</td>
      
        </tr>
      
        <tr>
      
          <td>Celda 6</td>     
          <td>Celda 7</td>     
          <td>Celda 8</td>    
          <td>Celda 9</td>
          <td>Celda 10</td>
      
        </tr>

        <tr>
      
          <td>Celda 6</td>     
          <td>Celda 7</td>     
          <td>Celda 8</td>    
          <td>Celda 9</td>
          <td>Celda 10</td>
      
        </tr>

        <tr>
      
          <td>Celda 6</td>     
          <td>Celda 7</td>     
          <td>Celda 8</td>    
          <td>Celda 9</td>
          <td>Celda 10</td>
      
        </tr>
      
      </table>


{%endblock%}
{%block sec1%}
{%endblock%}