{% extends 'base.html' %}
{% load static%}

{%block titulo %}
<title>home</title>
{% endblock %}
<!--GOOGLE-->

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="331681255357-gh2cr0f5vn3dn1f6tl195kcrpb0ip4mk.apps.googleusercontent.com">

{%block header%}<a href="{% url 'entrenamiento' %}" class="logo"><strong>Bienvenido</strong></a>

                                    <ul class="icons">

                                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                        <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
                                    </ul>
{%endblock%}

{%block banner%}
{%endblock%}
{%block sec1%}
{%endblock%}

{%block sec2%}
<section>

    <div class="posts">
        <article>
            <a href="#" class="image"> <img src="{% static 'images/entr.png' %}" alt="" /></a>
            <h3>INICIO</h3>
            <p>En esta sección se realizará un Entrenamiento Completo de todas las áreas de matematica.</p>

        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/aritmetica.png' %}" alt="" /></a>
            <h3>Entrenamiento</h3>
            <p>En esta sección se realizará un entrenamiento en el área de aritmetica.</p>
            
            
            
            <!--boton  Logout-->
            <center>  <a href="/accounts/logout/ "google" %}">Google</a> </center> 


        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/algebra.png' %}" alt="" /></a>
            <h3>MATERIAL DIDACTICO</h3>
            <p>En esta sección se realizará un entrenamiento en el área de álgebra.</p>

        </article>
    </div>
</section>

</div>
</div>
{%endblock%}

  
  
